<div style="display: none;" id="game-screen"></div>
<table id="logs-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody id="game-logs">
    
  </tbody>
</table>
